.FileInput {
    
}

input::-webkit-file-upload-button {
    visibility: hidden;
}

input::before {
    margin: auto;
    height: 40px;
    width: 80%;
    text-align: center;
    content: "+ Select your file";
    color: #5000b3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

input {
    margin: auto;
    height: 40px;
    width: 80%;
    border: 1px solid #ffffff5d;
    outline: none;
    background: none;
    border-radius: 2px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.1s linear;

    &:hover {
        background-color: #707070;
    }

    &:active {
        transform: scale(0.989);
    }

    &:focus {
        border: 1px solid #fff;
    }
}
